<!DOCTYPE>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header>
        <h1>Netflix</h1>
        <nav>
            <ul>
                <li><a href="{% url 'streaming:home' %}">Home</a></li>
                <li><a href="{% url 'streaming:movies' %}">Movies</a></li>
                <li><a href="{% url 'streaming:tv_shows' %}">TV Shows</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2021 Netflix</p>
    </footer>
</body>
</html>