{% extends 'base.html' %}

{% block title %}Series{% endblock %}

{% block content %}
<h1>Lista de Series</h1>
<div class="grid-container">
    {% for show in tv_shows %}
    <div class="card">
        <img src="{{ show.poster_path }}" alt="{{ show.title }}">
        <div class="card-content">
            <h3>{{ show.title }}</h3>
            <p>{{ show.overview|truncatewords:20 }}</p>
            <p><strong>Fecha:</strong> {{ show.first_air_date }}</p>
            <p><strong>Calificación:</strong> {{ show.vote_average }}</p>
            <button class="toggle-list-button" data-id="{{ show.id }}" data-type="tvshow">
                Agregar a Mi Lista
            </button>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

